@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Noto Serif";
  margin: 0;
  padding: 0;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-color: #f2f2f2;
}

.loading {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #f1356d;
  font-weight: bold;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  button {
    background-color: #b1070794;
    border: 1px solid #e4baba7a;
    border-radius: 50px;
    color: #ffffff;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #ffffff7a;
    color: #b10707;
  }

  input {
    border: 1px solid rgb(194, 124, 124);
    border-radius: 5px;
    margin: 0.4rem;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
  }

  input:focus {
    outline: none;
    background-color: white;

  }

}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 1rem;
  font-size: 16px;
  border-radius: 5px;
}

.navbar {
  margin: 0;
  width: 60%;
  height: 80px;
  border-bottom: 1px solid #9b9b9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  gap: 1rem;

  img {
    width: 100px;
    min-width: 100px;
    padding: 0%;
    margin: 0%;
  }

  button {
    background-color: #b1070794;
    border: 1px solid #e4baba7a;
    border-radius: 50px;
    color: #ffffff;
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    font-size: 14px;
    cursor: pointer;
    width: 10%;
    display: flex;
    justify-content: center;
  }

  a {
    // background-color: #b1070794;
    // border: 1px solid #e4baba7a;
    border-radius: 50px;
    color: #b1070794;
    text-decoration: none;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 20%;
  }

  .logo {
    background-color: transparent;
    border: none;
    padding: 0%;
    margin: 0%;
    width: auto;
  }
}


.homeWrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 2rem;
  gap: 2rem;
}

.savedWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-top: 2rem;
  gap: 2rem;

  .instructions {
    white-space: pre-wrap;
  }
}

.create-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  // width: 100%;

  form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;

    button {
      background-color: #b1070794;
      border: 1px solid #e4baba7a;
      border-radius: 50px;
      color: #ffffff;
      margin: 1rem 0;
      padding: 1rem;
      font-size: 14px;
      cursor: pointer;
    }

    input,
    textarea {
      border: 1px solid rgb(194, 124, 124);
      border-radius: 5px;
      margin: 0.4rem;
    }

    textarea:focus,
    input:focus {
      outline: none;
    }

    textarea {
      width: auto;
      height: 100px;
    }

    .addIngredientsBtn {
      background-color: #e4baba7a;
      border: 1px solid #b1070794;
      border-radius: 50px;
      color: #b10707;
      margin: 1rem 0;
      padding: 1rem;
      font-size: 14px;
      cursor: pointer;
    }

    .addIngredientsBtn:hover {
      background-color: #b1070794;
      color: #ffffff;
    }

    button:hover {
      background-color: #e4baba7a;
      color: #b10707;
    }
  }

  h1 {
    margin: 1rem;
  }
}

.recipesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;

  // background-color: #796e6e;
  // flex-wrap: nowrap;
  h1 {
    text-align: center;
    margin: 1rem;
    color: #b10707;
  }

  .heartImg {
    width: 2rem;

    img {
      width: 100%;
    }
  }

  .instructions {
    white-space: pre-wrap;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4rem;
}

li {
  border: 1px solid #9b9b9b;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 1rem;
  // width: 80%;
}

h2 {
  margin-top: 0;
}

img {
  width: 100%;
}

p {
  max-width: 400px;
  font-size: 12px;
}


.CreateRecipeNavbar {
  display: none !important;
}

@media (max-width:1000px) {

  .CreateRecipeNavbar {
    display: block !important;
  }

  .create-recipe,
  .homeNavbar {
    display: none !important;

  }

  .homeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 0rem;
    padding: 0rem;
    margin-top: 0rem;
    gap: 0rem;

    .recipesWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      // margin: 1rem;
    }
  }

  .navbar {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    font-size: smaller;

    img {
      width: 10px;
      min-width: 40px;
      padding: 0%;
      margin: 0%;
    }

    button {
      font-size: 10px;
      width: 10%;
    }

    a {
      font-size: 10px;
      width: 10%;
    }

    .logo {
      width: 10%;
    }
  }

  .auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .auth-container {
    width: 20rem;
  }
}